[submodule "frontend"]
	path = frontend
	url = https://github.com/flemingslefthandrule/cityvoice.git
[submodule "backend"]
	path = backend
	url = https://github.com/flemingslefthandrule/cityvoicejs.git
