[submodule "frontend"]
	path = cityvoice
	url = https://github.com/flemingslefthandrule/cityvoice.git
[submodule "backend"]
	path = cityvoicejs
	url = https://github.com/flemingslefthandrule/cityvoicejs.git
